#header {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 50px;
    left: 0px;
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 5px;
}
#nav {
    position: fixed;
    line-height: 30px;
    background-color: #eeeeee;
    left: 0px;
    top: 60px;
    bottom: 35px;
    width:280px;
    float:left;
    padding:5px;
    overflow: auto;
}
#section {
    position: fixed;
    left: 285px;
    right: 0px;
    top: 60px;
    bottom: 35px;
    float: left;
    padding: 5px;
    overflow: auto;
}
#footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    left: 0px;
    height: 25px;
    background-color: #003366;
    color: white;
    clear: both;
    text-align: center;
    padding: 5px;
}
table {
    border-collapse: collapse;
}
th, td {
	border: solid 1px #6D6D6D;
	padding: 5px 10px;
    text-align: center;
}
.folder, .file {
    font-size: 16px;
}
a {
    text-decoration: none;
}
input[type=button] {
    /*float: right;*/
    margin: 5px;
}
.span0 {
    font-size: 35px;
}
.span1 {
    float: right;
    margin-right: 40px;
    margin-top: 15px;
}
.span3 {
    float: left;
    margin-left: 20px;
    margin-top: 15px;
}
#about {
    float: right;
    margin-right: 40px;
}
#contect {
    float: right;
    margin-right: 20px;
}
#container_table, #build_container {
    display: none;
}
#refresh {
    color: white;
}
#table_info, #table_image {
    background-color: #eeeeee;
}
.legend {
    font-weight: bold;
}
#image_pull_info, #create_container_info {
    width: 500px;
    height: 100px;
    display: none;
}
#image_name {
    height: 20px;
    width: 300px;
}