<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/icon/iconfont.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/common/jquery.treeview.css')}}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/common/jquery-3.3.1.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/common/jquery.treeview.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/common/index.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/monitoring_data.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/build_container.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/node_modules/ice/lib/Ice.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/Printer.js')}}"></script>
</head>
<body>
<div id="header">
    <span class="span0">部 署 工 具</span>
    <span class="span4" id="node_ip"></span>
    <span class="span1" id="time"><i class="iconfont icon-time"></i>
        <span></span>年<span></span>月<span></span>日<span></span>时<span></span>分<span></span>秒
    </span>
    <span class="span3"><a id="refresh" href="#" onClick="window.location.reload()">
        <i class="iconfont icon-refresh" title="刷新"></i>刷新
    </a></span>
</div>

<div id="nav">
   <ul id="browser" class="filetree treeview-famfamfam">
   <ul>
		<li id="cluster" class="closed">
            <span onclick="show_nodeinfo()">集群列表
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <i class="iconfont icon-zhuye"></i>
            </span>
                <ul>
                {% for i in range(nodeipLen) %}
                    <li>
                        <i class="iconfont icon-docker"></i>
                        <span name="ip">{{ nodeips[i] }}</span>
                    </li>
                {% endfor %}
                </ul>
		</li>
   </ul>
   </ul>
</div>

<div id="section">
    <div id="node_info">
        <fieldset>
			<legend class="legend">节点信息</legend>
			<table border="1" width="100%">
				<tr bgcolor="#F5F5F5">
					<th><i class="iconfont icon-server"></i></th>
					<th>hostname</th>
					<th>IP</th>
					<th>OS</th>
				</tr>
                <tbody id="nodeBody">
                <div id="loading">正在加载......</div>
                </tbody>
			</table>
			</fieldset>
    </div>

    <div class="row" id="build_container">
        <fieldset>
            <legend class="legend">构建容器</legend>
            <input id="image_name" value="请输入要拉取的镜像名称">
            <a id="download" onClick="pull_image()">
                <i class="iconfont icon-download" title="下载镜像"></i>
            </a><br />
            <textarea id="image_pull_info"></textarea>
{#            <input type="button" onclick="remove_image()" value="移除" title="移除镜像前，请确保未被任何容器使用！"/>#}
            <a id="remove_image" onClick="remove_image()">
                <i class="iconfont icon-remove"></i> 移除
            </a>
            <p></p>
            <table id="table_image" bordercolor="#aaaaaa" border="1" cellpadding="0" cellpadding="2" width="100%">
                <thead>
                <tr>
                    <th><input type="checkbox" class="i-checks" id="selectAllImg"/></th>
                    <th>IMAGE ID</th>
                    <th>RepoTags</th>
                </tr>
                </thead>
                <tbody id="iBody">
                </tbody>
            </table>
            image name：<input id="iname"/>
            container name：<input id="cname"/>
            <a id="create_container" onClick="create_container()">
                <i class="iconfont icon-build"></i> 创建容器
            </a>
            <a id="show_container_table" onClick="show_container_table()">
                <i class="iconfont icon-find"></i> 查看容器
            </a>
            <a id="build_cluster()" onClick="build_cluster()">
                <i class="iconfont icon-build-cluster"></i> 构建集群
            </a>
            {#<input type="button" onclick="create_container()" value="创建容器">
            <input type="button" onclick="show_container_table()" value="查看容器列表">
            <input type="button" onclick="build_cluster()" value="构建集群">#}
            <textarea id="create_container_info"></textarea><br>
            <textarea id="sh"></textarea>
            <section role="main" id="body">
                    <div class="row">
                        <div class="large-12 medium-12 columns">
                            <form>
                                <div class="row">
                                    <div class="small-12 columns">
                                        <input type="button" id="exec" value="保存">
                                        <input type="button" id="print" value="执行">
                                        <div id="output"></div>
                                    </div>
                                </div>
                                <div id="progress" class="row hide">
                                    <div class="small-12 columns left">
                                        <div class="inline left icon"></div>
                                        <div class="text">Sending Request...</div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
        </fieldset>
    </div>

    <div class="row" id="container_table">
    <fieldset>
        <legend class="legend">容器列表</legend>
        <a id="add" onClick="add_container()">
            <i class="iconfont icon-add"></i> 添加
        </a>
        <a id="remove_container" onClick="remove_container()">
            <i class="iconfont icon-remove"></i> 移除
        </a>
        <a id="start" onClick="start_container()">
            <i class="iconfont icon-start"></i> 启动
        </a>
        <a id="stop" onClick="stop_container()">
            <i class="iconfont icon-stop"></i> 停止
        </a>
{#        <input class="iconfont icon-add" type="button" onclick="add_container()" value="添加"/>#}
{#        <input type="button" onclick="remove_container()" value="移除" title="移除容器前，请先停止该容器！"/>#}
{#        <input type="button" onclick="stop_container()" value="停止"/>#}
{#        <input type="button" onclick="start_container()" value="启动"/>#}
        <p></p>
        <div contenteditable>
            <table id="table_info" bordercolor="#aaaaaa" border="1" cellpadding="0" cellpadding="2" width="100%">
                <thead>
                <tr>
                    <th><input type="checkbox" class="i-checks" id="selectAllCon"/></th>
                    <th>CONTAINER ID</th>
                    <th>IMAGE</th>
                    <th>CONTAINER NAME</th>
                    <th>STATUS</th>
                </tr>
                </thead>
                <tbody id="cBody">
                </tbody>
            </table>
        </div>
    </fieldset>
    </div>
</div>

<div id="footer">
    @2020  西安端怡科技有限公司
    <span id="about"><i class="iconfont icon-about"></i>&nbsp;&nbsp;关于产品</span>
    <span id="contect"><i class="iconfont icon-connect"></i>&nbsp;&nbsp;联系我们</span>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/Client.js')}}"></script>
</body>
</html>
